@{
    ViewData["Title"] = "Home Page";
}

@* <div class="text-center"> *@
@*     <h1 class="display-4">Welcome</h1> *@
@*     <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
@* </div> *@

<table class="table">
    <thead>
    <tr>
        <th scope="col">Название</th>
        <th scope="col">Город</th>
        <th scope="col">Кол-во комнат</th>
        <th scope="col">Площадь</th>
        <th scope="col">ФИО владельца</th>
        <th scope="col">Номер телефона</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var room in (List<Room>)ViewData["rooms"])
    {
        <tr>
            <td>@room.Title</td>
            <td>@room.City</td>
            <td>@room.RoomCount</td>
            <td>@room.Square</td>
            <td>@room.OwnerFullName</td>
            <td>@room.OwnerPhone</td>
        </tr>
    }
    </tbody>
</table>

